.mulesMain {
    padding: 20px;
  }
  
  .mulesHeader {
    text-align: center;
  }
  
  .mulesHeader h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .mulesImages {
    display: flex;
    justify-content: center;
  }
  
  .mulesImages .mulesImage1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .mulesImages .mulesImage1 img {
    width: 20%;
   
    margin: 30px;
    transition: transform 0.3 ease-in-out;
  }
  .mulesImages .mulesImage1 img:hover {
    transform: scale(1.1); /* Zoom effect on hover */
    cursor: pointer;
  }

 